body{
    font-family: 'Montserrat', sans-serif;
    
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.p1 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.p2 {
    font-size: 24px;
    font-family: 'Nanum Brush Script', cursive;
}
.p3 {
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
}

